:root {
  /* radial status custom ccs */
  --rs-idle-color: #faa81a; /* Colour for idle status */
  --rs-dnd-color: #ff0000; /* Colour for dnd status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  
  
  /* server rings custom ccs */
  --server-unread-colour: 134, 24, 224;
  --server-hover-colour: 57, 18, 89;
  --server-selected-colour: var(--accent, 255, 255, 255);
  --server-glow-intensity: 0;

  
  /* main custom ccs */
    --text-normal: #ffffff;
    --text-link: #8618e0;
    --text-link-low-saturation: #391259;
}


.emojiContainer-2XKwXX {
    user-select: all;
}


.wordmarkWindows-2dq6rw::before {
    content: 'ComfyGray | Purple'!important;
    color: rgb(134, 24, 224);
}


/* ALL BELOW CHANGES COLORS OF BUTTONS AND OTHER ELEMENTS */


/* home icon circle */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .item-2LIpTv {
    border-color: #8618e0 !important;
}
/* home icon circle hover */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .item-2LIpTv:hover {
    border-color: #391259 !important;
}


/* Guild List "public" button */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-3kah-n.circleIconButton-1VxDrg {
    border: 1px solid red;
    border-color: #8618e0 !important;	
}
/* Guild List "public" button hover */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-3kah-n.circleIconButton-1VxDrg:hover {
    background-color: #391259 !important;
}


/* Guild List "read all" button (addon) */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK.frame-oXWS21 .wrapper-3kah-n.innerFrame-8Hg64E .childWrapper-1j_1ub.button-Jt-tIg {
    border: 1px solid red;
    border-radius: 1px !important;
    border-color: #8618e0 !important;	
}
/* Guild List "read all" button hover (addon) */
#app-mount .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK.frame-oXWS21 .wrapper-3kah-n.innerFrame-8Hg64E .childWrapper-1j_1ub.button-Jt-tIg:hover {
    background-color: #391259 !important;
}


/* Add Friends to DM "Creat Group DM" enabled */
#app-mount .layer-2aCOJ3 .flex-2S1XBF.flex-3BkGQD.directionColumn-3pi1nm .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Add Friends to DM "Creat Group DM" enabled hover */
#app-mount .layer-2aCOJ3 .flex-2S1XBF.flex-3BkGQD.directionColumn-3pi1nm .button-f2h6uQ:hover {
    background-color: #391259 !important;
}
/* Add Friends to DM "Creat Group DM" disabled */
#app-mount .layer-2aCOJ3 .flex-2S1XBF.flex-3BkGQD.directionColumn-3pi1nm .button-f2h6uQ:disabled {
    background-color: #222222 !important;
}


/* friends bar selected */
#app-mount .container-2cd8Mz .children-3xh0VB .tabBar-ra-EuL.topPill-3DJJNV .item-3mHhwr.item-3XjbnG.selected-g-kMVV {
    background-color: #8618e0 !important;
}
/* friends bar selected hover */
#app-mount .container-2cd8Mz .children-3xh0VB .tabBar-ra-EuL.topPill-3DJJNV .item-3mHhwr.item-3XjbnG.selected-g-kMVV:hover {
    background-color: #391259 !important;
}


/* friends bar "add friend" button selected */
#app-mount .children-3xh0VB .tabBar-ra-EuL .selected-g-kMVV, #app-mount .item-3mHhwr[aria-controls="add_friend-tab"][aria-selected="true"] {
    background-color: #8618e0 !important;
}
/* friends bar "add friend" button selected hover */
#app-mount .children-3xh0VB .tabBar-ra-EuL .selected-g-kMVV, #app-mount .item-3mHhwr[aria-controls="add_friend-tab"][aria-selected="true"]:hover {
    background-color: #391259 !important;
}
/* friends bar "add friend" button normal */
#app-mount .item-3mHhwr[aria-controls="add_friend-tab"][aria-selected="true"] span {
    color: white;
}


/* online people list hover */
#app-mount .container-2cd8Mz .peopleList-2VBrVI .peopleListItem-u6dGxF:hover {
    background-color: #222222 !important;
}


/* online currently playing background color */
#app-mount .container-2cd8Mz .nowPlayingColumn-1eCBCN .scroller-hE2gWq .itemCard-3Etziu {
    background-color: #222222 !important;
}
/* online currently playing background color hover */
#app-mount .container-2cd8Mz .nowPlayingColumn-1eCBCN .scroller-hE2gWq .itemCard-3Etziu:hover {
    background-color: #333333 !important;
}


/* share screen active */
#app-mount .sidebar-1tnWFu .panels-3wFtMD .wrapper-3Hk9OB .actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* share screen active hover */
#app-mount .sidebar-1tnWFu .panels-3wFtMD .wrapper-3Hk9OB .actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* screen share popup change button */
#app-mount .focusLock-2tveLW .modalContent-2y3sGW .card-m7VgZ8 .changeButton-2kfgQt.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* screen share popup change button hover */
#app-mount .focusLock-2tveLW .modalContent-2y3sGW .card-m7VgZ8 .changeButton-2kfgQt.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* screen share popup quality select hover */
#app-mount .focusLock-2tveLW .modalContent-2y3sGW .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .item-2OyinQ:hover {
    background-color: #333333 !important;
}
/* screen share popup quality select selected */
#app-mount .focusLock-2tveLW .modalContent-2y3sGW .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .item-2OyinQ.selectorButtonSelected-3cQUnj {
    background-color: #8618e0 !important;
}
/* screen share popup quality select selected hover */
#app-mount .focusLock-2tveLW .modalContent-2y3sGW .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .item-2OyinQ.selectorButtonSelected-3cQUnj:hover {
    background-color: #391259 !important;
}


/* screen share "Go Live" button */
#app-mount .focusLock-2tveLW .flex-2S1XBF.flex-3BkGQD.directionRowReverse-HZatnx .button-f2h6uQ:not([type="button"]) {
    background-color: #8618e0 !important;
}
/* screen share "Go Live" button hover */
#app-mount .focusLock-2tveLW .flex-2S1XBF.flex-3BkGQD.directionRowReverse-HZatnx .button-f2h6uQ:not([type="button"]):hover {
    background-color: #391259 !important;
}


/* screen share "Go Live" button */
#app-mount .focusLock-2tveLW .flex-2S1XBF.flex-3BkGQD.directionRowReverse-HZatnx .button-f2h6uQ:not([type="submit"]) {
    background-color: #222222 !important;
}
/* screen share "Go Live" button hover */
#app-mount .focusLock-2tveLW .flex-2S1XBF.flex-3BkGQD.directionRowReverse-HZatnx .button-f2h6uQ:not([type="submit"]):hover {
    background-color: #333333 !important;
}


/* screen share popup cancel button */
#app-mount .focusLock-2tveLW .flex-2S1XBF.flex-3BkGQD.directionRowReverse-HZatnx .cancelButton-3QVBfe.button-f2h6uQ {
    background-color: #222222 !important;
}


/* changes the bar color for the sliders in the settings */
.barFill-2Bh7CX {
    background: #8618e0 !important;
}


/* My Account profile card "Edit User Profile" & "Edit" button */
#app-mount #my-account-tab .accountProfileCard-lbN7n- .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* My Account profile card "Edit User Profile" & "Edit" button hover */
#app-mount #my-account-tab .accountProfileCard-lbN7n- .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* My Account "Change Password" button */
#app-mount #my-account-tab .marginTop40-Q4o1tS .changePasswordButton-3j5UVD.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* My Account "Change Password" button hover */
#app-mount #my-account-tab .marginTop40-Q4o1tS .changePasswordButton-3j5UVD.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* My Account "Enable Two-Factor Auth" button */
#app-mount #my-account-tab .marginTop40-Q4o1tS .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* My Account "Enable Two-Factor Auth" button hover */
#app-mount #my-account-tab .marginTop40-Q4o1tS .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* User Profile "Change Avatar" buttons */
#app-mount #profile-customization-tab .buttonsContainer-12kYno .button-f2h6uQ:not(.removeButton-1xB_Ez) {
    background-color: #8618e0 !important;
}
/* User Profile "Change Avatar" buttons hover */
#app-mount #profile-customization-tab .buttonsContainer-12kYno .button-f2h6uQ:not(.removeButton-1xB_Ez):hover {
    background-color: #391259 !important;
}


/* User Profile "Remove Avatar" buttons */
#app-mount #profile-customization-tab .buttonsContainer-12kYno .removeButton-1xB_Ez {
    background-color: #222222 !important;
}
/* User Profile "Remove Avatar" buttons hover */
#app-mount #profile-customization-tab .buttonsContainer-12kYno .removeButton-1xB_Ez:hover {
    background-color: #333333 !important;
}


/* User Profile "Change Banner" button */
#app-mount #profile-customization-tab .buttonsContainer-5mLFN9 .button-f2h6uQ:not(.removeButton-3KRYAO) {
    background-color: #8618e0 !important;
}
/* User Profile "Change Banner" button hover */
#app-mount #profile-customization-tab .buttonsContainer-5mLFN9 .button-f2h6uQ:not(.removeButton-3KRYAO):hover {
    background-color: #391259 !important;
}


/* User Profile "Remove Banner" button */
#app-mount #profile-customization-tab .buttonsContainer-5mLFN9 .removeButton-3KRYAO {
    background-color: #222222 !important;
}
/* User Profile "Remove Banner" button hover */
#app-mount #profile-customization-tab .buttonsContainer-5mLFN9 .removeButton-3KRYAO:hover {
    background-color: #333333 !important;
}


/* Privacy & Safety "Request Data" button outline */
#app-mount #privacy-\&-safety-tab .marginBottom40-fvAlAV .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ {
    border-color: #8618e0 !important;
}
/* Privacy & Safety "Request Data" button outline hover */
#app-mount #privacy-\&-safety-tab .marginBottom40-fvAlAV .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Gift Inventory "Redeem" & "Claim" buttons */
#app-mount #library-inventory-tab .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Gift Inventory "Redeem" & "Claim" buttons hover */
#app-mount #library-inventory-tab .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Billing "Edit" & "Add Payment Method" buttons */
#app-mount #billing-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Billing "Edit" & "Add Payment Method" buttons hover */
#app-mount #billing-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Accessibility "Example Button" & "Preview" button */
#app-mount #accessibility-tab .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Accessibility "Example Button" & "Preview" button hover */
#app-mount #accessibility-tab .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Accessibility "Sync with computer" button */
#app-mount #accessibility-tab .checkbox-f1HnKB {
    background-color: #8618e0 !important;
}


/* Voice & Video "Let's Check" button */
#app-mount #voice-\&-video-tab .micTestButton-3bMlCM.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Voice & Video "Let's Check" button hover */
#app-mount #voice-\&-video-tab .micTestButton-3bMlCM.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Voice & Video "Test Video" button */
#app-mount #voice-\&-video-tab .cameraWrapper-3a7Ngv .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Voice & Video "Test Video" button hover */
#app-mount #voice-\&-video-tab .cameraWrapper-3a7Ngv .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Voice & Video "Upload/Show Folder" button */
#app-mount #voice-\&-video-tab .marginBottom40-fvAlAV .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .flexChild-3PzYmX.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Voice & Video "Upload/Show Folder" button hover */
#app-mount #voice-\&-video-tab .marginBottom40-fvAlAV .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .flexChild-3PzYmX.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Keybinds "Add a Keybind" & "Edit Keybind" buttons */
#app-mount #keybinds-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .flexChild-3PzYmX .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Keybinds "Add a Keybind" & "Edit Keybind" buttons hover */
#app-mount #keybinds-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .flexChild-3PzYmX .button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Game Overlay "Edit Keybind" button */
#app-mount #overlay-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-ZJ9ZzX.button-3og7GZ.button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Game Overlay "Edit Keybind" button hover */
#app-mount #overlay-tab .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-ZJ9ZzX.button-3og7GZ.button-f2h6uQ:hover {
    background-color: #391259 !important;
}


/* Game Overlay "Notification Position" selector */
#app-mount .notificationSettings-3dppO6 .wrapper-SdcMKg .selected-18Wszc {
    background-color: #8618e0 !important;
}
#app-mount .notificationSettings-3dppO6 .wrapper-SdcMKg {
    border-color: #8618e0 !important;
}
#app-mount .notificationSettings-3dppO6 .wrapper-SdcMKg .option-1QI4c9:hover {
    background-color: #391259 !important;
}
#app-mount .notificationSettings-3dppO6 .wrapper-SdcMKg .option-1QI4c9, .notificationSettings-3dppO6 .wrapper-SdcMKg .disabled-35mc5w {
    transition: 0.5s ease;
}


/* Emoji/Plugins/Themes title button */
#app-mount .bd-settings-title .bd-button.bd-button-title {
    background-color: #8618e0 !important;
}
/* Emoji/Plugins/Themes title button hover */
#app-mount .bd-settings-title .bd-button.bd-button-title:hover {
    background-color: #391259 !important;
}


/* Plugins/Themes "List View/Grid View" selected button */
#app-mount .bd-controls.bd-addon-controls .bd-controls-advanced .bd-addon-views .bd-button.bd-view-button.selected {
    background-color: #8618e0 !important;
}
/* Plugins/Themes "List View/Grid View" selected button hover */
#app-mount .bd-controls.bd-addon-controls .bd-controls-advanced .bd-addon-views .bd-button.bd-view-button.selected:hover {
    background-color: #391259 !important;
}


/* Plugins/Themes "Settings Icon/Edit Icon" button */
#app-mount .bd-addon-list.bd-grid-view .bd-footer .bd-controls .bd-button.bd-addon-button {
    background-color: #222222 !important;
}
/* Plugins/Themes "Settings Icon/Edit Icon" button hover */
#app-mount .bd-addon-list.bd-grid-view .bd-footer .bd-controls .bd-button.bd-addon-button:hover {
    background-color: #391259 !important;
}


/* Plugins/Themes "Delete Icon" button */
#app-mount .bd-addon-list.bd-grid-view .bd-footer .bd-controls .bd-button.bd-addon-button.bd-button-danger {
    background-color: #F04747 !important;
}
/* Plugins/Themes "Delete Icon" button hover */
#app-mount .bd-addon-list.bd-grid-view .bd-footer .bd-controls .bd-button.bd-addon-button.bd-button-danger:hover {
    background-color: #391259 !important;
}


/* Plugin/Theme Repo "Check for Updates" button */
#app-mount .repoList-9JnAPs.contentRegion-3HkfJJ .repoHeader-2KfNvH .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ {
    background-color: #8618e0 !important;
}
/* Plugin/Theme Repo "Check for Updates" button hover */
#app-mount .repoList-9JnAPs.contentRegion-3HkfJJ .repoHeader-2KfNvH .flex-2S1XBF.flex-3BkGQD.directionRow-2Iu2A9 .button-f2h6uQ:hover:hover {
    background-color: #391259 !important;
}


/* changes some Better Discord button backgrounds like the "Download" button for Plugin/Theme Repo */
.button-coQXfM {
    background-color: #8618e0 !important;
}
/* changes some Better Discord button backgrounds like the "Download" button for Plugin/Theme Repo hover */
.button-coQXfM:hover {
    background-color: #391259 !important;
}


/* What's New Text with links embeded */
#app-mount .focusLock-2tveLW .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.cta {
    color: #8618e0 !important;
}

